{% extends 'base.html' %}
{% block conteudo %}
    
    {% for tarefa in tarefas %} 
         
        <div class="panel panel-primary tarefa">
        <div class="panel-heading">
            <a href="{% url 'tarefa' tarefa.id %}"><strong>{{ tarefa.titulo|capfirst }} </strong></a>

            <a href="{% url 'deletar_tarefa' tarefa.id %}" class="btn btn-default btn-xs pull-right deletar_tarefa">
                <span class="glyphicon glyphicon-remove" style="color:black"></span>
            </a>

        </div>

        <div class="panel-footer">
            <ol class="breadcrumb">
                
                <li>
                    <strong>Responsável:</strong>
                    <span class="badge">{{ tarefa.responsavel.nome }}</span>
                </li>

                <li>
                    <strong>Projeto:</strong>
                    <span class="badge">{{ tarefa.projeto.nome }}</span>
                </li>

                {% if tarefa.pre_requisitos.count %}
                    <li>
                        <strong>Requisitos:</strong>
                        <span class="badge">{{ tarefa.pre_requisitos.count }}</span>
                    </li>
                {% endif %}

                {% if tarefa.is_open %}

                    <a href="{% url 'iniciar_tarefa' tarefa.id %}" class="btn btn-success btn-xs pull-right iniciar_atividade">
                        <span class="glyphicon glyphicon-play"></span>Iniciar atividade
                    </a>

                {% elif tarefa.is_running %}

                    <a href="{% url 'concluir_tarefa' tarefa.id %}" class="btn btn-success btn-xs pull-right">
                        <span class="glyphicon glyphicon-ok"></span>Concluir
                    </a>

                    <a href="{% url 'pausar_tarefa' tarefa.id %}" class="btn btn-danger btn-xs pull-right">
                        <span class="glyphicon glyphicon-pause"></span>Pausar
                    </a>                    

                {% elif tarefa.is_paused %}

                    <a href="{% url 'concluir_tarefa' tarefa.id %}" class="btn btn-success btn-xs pull-right">
                        <span class="glyphicon glyphicon-ok"></span>Concluir
                    </a>

                    <a href="{% url 'iniciar_tarefa' tarefa.id %}" class="btn btn-info btn-xs pull-right">
                        <span class="glyphicon glyphicon-play"></span>Trabalhar
                    </a>

                {% elif tarefa.is_done %}

                    <button class="btn btn-success btn-xs pull-right">Concluída</button>

                {% endif %}

             
            </ol>

        </div>

    </div>

    {% empty %}
        Não há tarefas ainda. Aproveite e insira algumas.

    {% endfor %}

    <button class="btn btn-success btn-sm" data-target="#novo-projeto" data-toggle="modal">
        Nova tarefa
    </button>

	<div class="modal fade" id="novo-projeto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Crie um nova tarefa</h4>
      </div>
      
      	<form method="post" action="{% url 'nova_tarefa' %}">
	      
	      {% csrf_token %}

			<div class="modal-body">    
				
                <div class="item-input">
    				<label for="titulo">Título:</label>
    	        	<input type="text" name="titulo" class="form-control">	 				
                </div>

                <div class="item-input">
    	        	<label for="descricao">Descrição:</label>
    	        	<textarea type="text" name="descricao" class="form-control"></textarea>
                </div>

                {% if tarefas.count > 0 %}
    			<div class="item-input dependencias">
	    			<label>Há pré-requisitos?</label>
	    			<button type="button" class="btn btn-xs btn-primary ativar-pre-requisitos">Sim</button>

                    <div class="pre-requisitos">
                            
                        {% for tarefa in tarefas %}

                            <input type="checkbox" name="pre_requisito" 
                                   value="{{ tarefa.id }}" id="{{tarefa.titulo|safe}}" class="requisito">

                            <label for="{{ tarefa.titulo|safe }}" class="btn btn-default">{{ tarefa.titulo }}</label>

                        {% endfor %}

                        
                    </div>


                </div>
                {% endif %}

    			<div class="item-input">

    				<label>Pertence à qual projeto?</label>

                    <div class="projetos">

    				{% for projeto in projetos %}
    					
                        <input 
                            type="radio" name="projeto"
                            value="{{projeto.id}}" id="{{projeto.nome}}">

                        <label
                            for="{{projeto.nome}}" 
                            class="btn btn-default projeto">
                                {{ projeto.nome|truncatechars:19 }}
                        </label>

    				{% endfor %}
                    </div>
    			</div>

                <div class="item-input">
        		  
                    <label>Associar à: </label>

                    <div class="funcionarios">
        			{% for funcionario in funcionarios %}
        				
                        <input type="radio" name="funcionario"
                            value="{{funcionario.id}}" id="{{funcionario.nome|safe}}">

        				<label for="{{funcionario.nome|safe}}" type="button"
                            class="btn btn-default funcionario">
                                {{ funcionario.nome }}
                        </label>

        			{% endfor %}
                    </div>

                </div>

            </div>

			<div class="modal-footer">

			<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
			<button type="submit" class="btn btn-primary">Criar</button>

			</div>
		  	
	  	</form>

    </div>
  </div>
</div>

{% endblock %}